
/* VARIABLES */

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --title-card: #1E2338;
  --page-background: #f9fbfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-background);
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header {
  background-color: var(--blue);
  color: white;
  
  padding: 5rem 0 12rem;

  text-align: center;
}

header > h1 {
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

/* MAIN */

main {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* TABLE PRINCING */

main section {
  margin: -8rem 1rem 0;
  display: grid;
  gap: 1.5rem;
  
  align-items: start;
}

.table-princing:nth-child(2) {
  padding: 0 0 2rem;
}

.table-princing {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.231);
  border-radius: 8px;

  margin-bottom: 2rem;
  padding: 2rem 0;
}

.table-princing h2 {
  font-weight: 600;
  color: var(--title-card);

  margin: 0 1rem;
}

.table-princing .info-table-princing {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px 8px 0 0;
  background-color: var(--yellow);
}

.table-princing .info-table-princing p {
  background-color: var(--blue);
  color: white;
  border-radius: 1rem;

  padding: 5px 10px;
  margin: 2rem 1rem;
}

.table-princing > h3 {
  font-weight: 700;
  font-size: 2.3rem;

  margin: 2rem 1rem 0;
}

.table-princing > h3 span:first-child {
  font-size: 1rem;
}

.table-princing > h3 span:last-child {
  font-size: 1rem;
  color: var(--gray);
}

.table-princing > p {
  color: var(--gray);
  padding: 1rem 0;
  margin: 0 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.table-princing ul {
  list-style: none;
  margin: 2rem 1rem 5rem;
}

.table-princing li {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;

  color: var(--gray);
}

.table-princing .button {
  text-align: center;
}

.table-princing .button-blue {
  background-color: var(--blue);
  color: white;
}

.table-princing a {
  text-decoration: none;
  color: var(--blue);

  border: 1px solid var(--blue);
  border-radius: 10px;

  padding: 5px 50px;
}

/* MEDIA */

@media (min-width: 500px) {
  main section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  main section {
    grid-template-columns: repeat(3, 1fr);
  }
}